/* .navbar-container {
    margin-top: 2rem;
}

.navbar {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
} */
.user-png{
    width: 30px;
    height: 30px;
}
.navbar-brand{
    color:rgba(255,0,0,0.816) ;
    font-size: 25px;
    font-weight: bold;
}
.btn-nav{
    background-color: rgba(255,0,0,0.816);
    border-radius: 5px;
    color: white !important;
    font-weight: bold;
    padding: 8px;
    text-decoration: none;
}